<html>
    <head>
        <link href="//fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">

        <style>
            #text1 {font-size : 30px}
            #text1 {font-family : "Raleway"}
            
            #text2 {font-size : 10px}
            #text2 {font-family : "Source Sans Pro"}
            
            #text3 {font-size : 1%}
            #text3 {font-family : "Source Sans Pro"}

            #text4 {font-size : 1.5%}
            #text4 {font-family : "Source Sans Pro"}

        </style>

        <title> kimhanjoo </title>
    <head>

    <body>
        <div id = "header">
            <p id = "text2"><center> published/ 2022/ 1208/ 0433 </center></p>
            <h1 id = "text1"><center> KIMHANJOO </center></h1>
        </div>
        <div id = "main">
            <p id = "text2"><center> Civil engineering, Korea Univ. <br> Urban Energy & Environment lab </center></p>
        </div>

        <div id = "main">
            <p id = "text4"><center>
                <br>
                <a href = "https://github.com/KIM-HANJOO/TOY-CFD-for-ground" type = "_blank">1. TOY - CFD </a><br>
                <a href = "https://github.com/KIM-HANJOO/micro_climate" type = "_blank">2. Micro Climate </a><br>
            </center></p>
        </div>
    </body>
</html>
