body {
    padding : 4vw, 3vw, 4vw, 3vw;
} 

h1 a {
    color: #000000 ;
    font-family:'Raleway';
}

#header {
    border : solid ;
    border-color : black;
    padding-left : 10%;
    padding-right : 10%;
    padding-top : 1%;
    padding-bottom : 1%;
}

#main {
    border : solid ;
    border-color : black;
    padding-left : 10%;
    padding-right : 10%;
    padding-top : 1%;
    padding-bottom : 1%;
}
